
        html {
            font-family: raleway;
        }

        /* The navigation bar */

        .navbar {
            overflow: hidden;
            background-color: #5CC7B2;
            position: inherit;
            /* Set the navbar to fixed position */
            top: 0;
            /* Position the navbar at the top of the page */
            width: 100%;
            /* Full width */
        }

        /* Links inside the navbar */

        .navbar a {
            float: right;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            background-color: #5CC7B2;
        }

        /* Main content */

        .main {
            margin-top: 100px;
            /* Add a top margin to avoid content overlay */
        }
